<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/j2ee</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.useUnicode">true</property>
    <property name="connection.characterEncoding">UTF-8</property>
    <property name="current_session_context_class">thread</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <mapping class="edu.library.PO.AdminPO"/>
    <mapping class="edu.library.PO.BookPO"/>
    <mapping class="edu.library.PO.BorrowauthorityPO"/>
    <mapping class="edu.library.PO.BorrowrecordPO"/>
    <mapping class="edu.library.PO.BorrowtypePO"/>
    <mapping class="edu.library.PO.UserPO"/>
    <mapping class="edu.library.PO.ChangeduserPO"/>
    <mapping class="PO.AuthcodePO"/>
    <mapping class="PO.UserPO"/>
  </session-factory>
</hibernate-configuration>